<link href = "/CSS/feedback.css" rel= "stylesheet" type = "text/css" >

<title>feedback</title>

<div id="comment_table">
	{{#if feedback}}
		<div class="content-section">
			{{> errors errors}}
			{{#if dbErrorOccurred}}
				<p class="admin_top">Can't display the page now, try again later.</p>
			{{/if}}

			<p class="username">Posted By: {{feedback.username}}. {{feedback.date}}</p>
			<div class="feedback">
				<div class="feedbackStart">				
					<p class="feedbackAnime">{{feedback.anime}}</p>
					<p class="feedbacklRate">{{feedback.rate}}/10⭐</p>
				</div>	
				<p class="feedbackContent">{{feedback.content}}</p>		
				<p class="feedbackGenre">{{feedback.genre}}</p>
				<div class="feedbackFinished"></div>
			</div>

		</div>

		
		<div id= "section-space">
			{{#if isLoggedIn}}
        			<div id="user_section">
					{{#if errors.length}}
						{{#each errors}}
							<p class="login_error_msg">{{this}}</p>
						{{/each}}
					{{/if}}
					<form action="/comment/{{feedback.id}}/create" method="POST">
						<div id="comment_textarea">

							<div id="textarea">
									<textarea class="comment_textarea" type="text" name="content" rows="6" cols="60" style="resize: none;" placeholder="What are your thoughts?">{{comment.content}} </textarea>
									<input class="submit_comment_btn" type="submit" name="create-btn" value="Comment">
							</div>
						</div>
					</form>
				</div>
    			{{/if}}
		</div>
		<div class="commentSection">
			<div class="commentStarts"></div>
			{{#if comments.length}}
				{{#each comments}}
					<div class="comment_area">
						<p class="commentOwner">{{username}} . {{date}}</p>
						<p class="commentContent">{{content}}</p>
					</div>
					<div class="commentEnds"></div>
				{{/each}}
				
			{{else}}
				<p class="noComments">!!! Theres No Comments, Be the First to Comment !!!</p>
			{{/if}}
		</div>
			
	{{else}}
		<p>No post with that ID exists</p>
	{{/if}}

</div>